@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap');
@import './reset.css';
@import './common.css';


.header{}
.header .inner{
    display: flex;
    align-items: center;
    height: 66px;
}

.header .logo{}

.header .auth-area{
    margin-left: 18px;
    display: flex;
    gap: 5px;
    font-size: 14px;
    font-weight: bold;
    line-height: 30px;
    text-align: center;
    letter-spacing: -1px;
}
.header .auth-area span{margin-left: 12px;}
.header .auth-area .link-login{
    width: 80px;
    height: 30px;
    background: url(../images/auth-bg1.png);
    background-size: contain;
    color: #fff;
}
.header .auth-area .link-auth{
    width: 97px;
    height: 30px; 
    background: url(../images/auth-bg2.png);
    background-size: contain;
}

.header .gnb{
    font-size: 15px;
    font-weight: bold;
    margin-left: 29px;
}
.header .gnb .nav-list{
    display: flex;
    gap: 18px;
}


.header .util-area{
    display: flex;
    align-items: center;
    margin-left: auto;
    font-size: 15px;
    font-weight: bold;
    gap: 14px;
}